<div class="container mt-4 px-2 py-2">
    <div class="container-fluid">
        <div class="nav-function px-2 py-2">
            <div class="btn-group px-2">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                My Info
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/itineraries">Itineraries</a></li>
                <li><a class="dropdown-item" href="#">Travel Parties</a></li>
                <li><a class="dropdown-item" href="#">Friends</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
                </ul>
            </div>
            <div class="btn-group px-2">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Search Trip Components
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/flights/search">Flights</a></li>
                <li><a class="dropdown-item" href="/hotels/search">Accommodations</a></li>
                <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Excursions</a></li>
                <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Transfers</a></li>
                <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Activities</a></li>
                </ul>
            </div>
            <div class="btn-group px-2">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                My Info
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Itineraries</a></li>
                <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Travel Parties</a></li>
                <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Friends</a></li>
                <li><hr class="dropdown-divider"></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>